* {
  font-family: arial;
}

.modalBackground {
  width: 100%;
  height: 100%;
  background-color: rgb(213, 212, 212, 0.18);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.modalContainer {
  width: 800px;
  height: 300px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.title {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(179, 176, 176);
  padding: 5px;
}

.body {
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
}

.datas {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.notes {
  width: 60%;
  padding: 15px;
}
p {
  padding: 5px;
}

.grey {
  color: grey;
}

.bold {
  font-size: x-large;
}

#cancelBtn {
  background-color: rgb(107, 107, 107);
  color: white;
  font-size: large;
  border-radius: 50px;
  /* padding: 10px; */
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* box-shadow: rgb(159, 155, 155, 0.4) 5px 2px; */
}